<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="Highcharts-widget" version="0.1.0">
  <details>
    <title>HighCharts Widget</title>
    <homepage>https://github.com/Wirecloud/highcharts-widget</homepage>
    <authors>Miguel Garcia Lafuente</authors>
    <email>miguelglafuente@gmail.com</email>
    <image></image>
    <smartphoneimage></smartphoneimage>
    <description>Highcharts Widget</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <changelog>doc/changelog.md</changelog>
    <doc>doc/index.md</doc>
    <license>CC,BY-NC,3.0</license>
    <issuetracker>https://github.com/Wirecloud/highcharts-widget/issues</issuetracker>
  </details>

  <requirements>

  </requirements>

  <preferences>
  </preferences>
  <wiring>
    <inputendpoint name="options" type="text" label="Options" description="Highcharts Options" friendcode="highchart-options"/>
  </wiring>
  <contents src="index.html"/>
  <rendering height="47" width="10"/>
</widget>
