<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="highcharts" version="0.1.4">
    <details>
        <title>Highcharts</title>
        <homepage>https://github.com/Wirecloud/highcharts-widget</homepage>
        <authors>Miguel Garcia Lafuente &lt;mgarcia@conwet.com&gt;</authors>
        <email>wirecloud@conwet.com</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Create interactive charts/graphs using the Highcharts framework</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>CC,BY-NC,3.0</license>
        <issuetracker>https://github.com/Wirecloud/highcharts-widget/issues</issuetracker>
    </details>

    <wiring>
      <inputendpoint name="highcharts" type="text" label="Highcharts Options" description="Highcharts Options" friendcode="highchart-options"/>
      <inputendpoint name="highstock" type="text" label="Highstock Options" description="Highstock Options" friendcode="highstock-options"/>
      <outputendpoint name="selected" type="text" label="Selected data output" description="Send the data when it's clicked" friendcode="selected-data"/>
    </wiring>

    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="300px" width="300px"/>

</widget>
